---
layout: layout.liquid
title: page layout
---
<p>&#8592; navigation back to book</p>
<!-- <li><a href="previousPageHref">lonk</a></li> -->
<!-- I keep referring to https://www.11ty.io/docs/pagination/ but so far have not had much luck -->
<h2>{{ title }}</h2>
<img src="{{ image }}" style="max-width: 500px;" />
<p>{{ description }}</p>

<p>These are tags: {{ tags }}</p>

<p style="color: magenta;">other things:</p>
<ul style="color: magenta;">
    <li>revise title</li>
</ul>